<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<head>
    <title>Unused</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script src="dataquery.js"></script>

    <link rel="stylesheet" type="text/css" href="styles.css">


</head>

<body>

<h1 class="hx">Converter Web Client</h1>

<h3 class = "hx">'Description'</h3>






    <div class="converter">
        <p>
            <select id="converters" name="Converters" onchange="selectedOption()">
            </select>
            <script src="getConverterNames.js"></script>
        </p>
        <span>
            <select id="from">
            </select>
            <select id="in-to">
            </select>
        </span>
        <label id="info"></label>
        <p>
            <input id="input" type="text">
        </p>
        <p>
            <label id="output"></label>
        </p>

    <button type="submit" onclick="convert()"> convert </button>
</div>
<div class="historyTable">
<table id="history" class="display">

    <!-- Header Table -->
    <thead>
    <tr>
        <th>Id</th>
        <th>Converter</th>
        <th>Data Time</th>
        <th>Unit From</th>
        <th>Unit To</th>
        <th>Value</th>
    </tr>
    </thead>
    <!-- Footer Table -->
    <tfoot>
    <tr >
        <th>dataId</th>
        <th>Converter</th>
        <th>date</th>
        <th>unitFrom</th>
        <th>unitTo</th>
        <th>input</th>
    </tr>
    </tfoot>
</table>
</div>

</body>
</html>